.title {
    font-weight: 800;
}

.subtitle {
    font-weight: 600;
}

.secondary-text {
    color: #999999;
}

.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subcontainer {
    padding: 10px 10px 10px 20px;
    border-left: 1px solid #999999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.padded-div {
    margin: 10px 0;
}

.italic {
    font-style: italic;
}

.margin-left {
    margin-left: 4px;
}

.invisible {
    display: none;
}
