/* ------- Document ------- */

body {
    background: #1a1a1f;
}

:root {
    color-scheme: dark;
}

* {
    color: white;
    font-size: medium;
    font-family: "JetBrains Mono", monospace;
}


/* ------- Elements ------- */

input[type="file"] {
    display: none;
}

button, .custom-file-upload, select, textarea {
    border: 1px solid white;
    margin: 1px;
    padding: 2px 4px;
    background: #1a1a1f;
}

button:hover, .custom-file-upload:hover, select:hover, textarea:hover {
    background: #3a3a3f;
    border: 2px solid white;
    margin: 0;
    cursor: pointer;
}

select {
    padding: 2px 12px 2px 4px;
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 700px;
}
